#banner {
  background-image: url("../img/fondo1.jpg");
  width: 100%;
  padding: 200px 0;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-color: rgb(0,0,0,.5);
  background-blend-mode: soft-light;
  box-sizing: border-box;
}
#banner h2 {
  color: white;
  font-size: 40px;
  font-family: "Ovo", serif;
  font-weight: bolder;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* MEDIA QUERYS */
@media (max-width: 1600px) {
  #banner{
    background-image: url("../img/fondo2.jpg");
  }
}

@media (max-width: 1200px) {
  #banner{
    background-image: url("../img/fondo3.jpg");
  }
}

@media (max-width: 800px) {
  #banner{
    background-image: url("../img/fondo4.jpg");
  }
}

@media (max-width: 400px) {
  #banner{
    background-image: url("../img/fondo5.jpg");
  }
}