/* MAIN */
main section {
    padding: 30px;
    gap: 20px;
}

main article {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 353px;
}

/* MEDIA QUERYS */
@media (max-width: 2024px) {
    main article {
        width: 18%;
    }
}

@media (max-width: 1600px) {
    main article {
        width: 23%;
        background-color: rgba(105, 105, 105, 0.3);
    }
}

@media (max-width: 1200px) {
    main article {
        width: 31%;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@media (max-width: 800px) {
    main article {
        width: 47%;
    }
}

@media (max-width: 400px) {
    main article {
        width: 100%;
    }
}